.delete-egg-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-egg-form label {
  margin-bottom: 10px;
}

.delete-egg-form input {
  margin-left: 10px;
}

.delete-egg-form button {
  margin-top: 10px;
  width: 200px;
}