.submit-egg-form {
  display: flex;
  flex-direction: column;
}

.submit-egg-form label {
  margin-bottom: 10px;
}

.submit-egg-form input {
  margin-left: 10px;
}

.submit-egg-form button {
  margin-top: 10px;
}